<p id="notice"><%= notice %></p>

<p>
  <strong>Game types:</strong>
  <%= @player.game_types %>
</p>

<p>
  <strong>Availabilities:</strong>
  <%= @player.availabilities %>
</p>

<p>
  <strong>Matches:</strong>
  <%= @player.matches %>
</p>

<p>
  <strong>Teams:</strong>
  <%= @player.teams %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
