<p id="notice"><%= notice %></p>

<p>
  <strong>Game types:</strong>
  <%= @team.game_types %>
</p>

<p>
  <strong>Min players:</strong>
  <%= @team.min_players %>
</p>

<p>
  <strong>Max players:</strong>
  <%= @team.max_players %>
</p>

<p>
  <strong>Players:</strong>
  <%= @team.players %>
</p>

<p>
  <strong>Matches:</strong>
  <%= @team.matches %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
